Repository ikuru9/shadcn-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: '# Lint ONLY staged files
  
    pnpm -s lint:staged {staged_files}
  
    '

format:
  run: '# Format ONLY staged files (writes changes)
  
    pnpm -s fmt:staged {staged_files}
  
  
    # Re-stage formatted files so commit includes changes
  
    git add {staged_files}
  
    '

feat: DataTable
  src/components/command-menu.tsx
  src/components/data-table/column-header.tsx
  src/components/data-table/data-table.tsx
  src/components/data-table/index.ts
  src/components/search.tsx
  src/context/search-provider.tsx
  src/features/chats/index.tsx
  src/features/dashboard/index.tsx
  src/features/samples/pets/components/pets-detail.tsx
  src/features/samples/pets/components/pets-table.tsx
  src/features/samples/pets/index.tsx
  src/features/tasks/index.tsx
  src/features/users/index.tsx
Due: lint, format

feat: /offline 페이지 - 온라인 상태: 정상적인 페이지 이동 - 오프라인 상태: /offline 페이지로 자동 리다이렉트 - 오프라인 페이지에서 "Retry" 버튼 클릭 시 홈으로 이동
  package.json
  pnpm-lock.yaml
  src/features/errors/offline-error.tsx
  src/hooks/use-offline.tsx
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/offline.tsx
  vite.config.ts
Due: lint, format

feat: /api proxy
  .env
  docker-config/Dockerfile
  docker-config/README.md
  docker-config/docker-compose.dev.yml
  docker-config/docker-compose.prod.yml
  docker-config/docker-compose.test.yml
  docker-config/nginx.conf
  kubb.config.ts
  src/config/env.ts
  vite.config.ts
Due: lint, format

chore(deps): react-error-boundary 제거 및 패키지 버전 업데이트
  package.json
  pnpm-lock.yaml
  src/components/error-boundary.tsx
Due: lint, format

feat(api): Axios 인터셉터를 통한 액세스 토큰 자동 재발급 기능 추가
  .gitignore
  src/constants/cookie.ts
  src/lib/client.test.ts
  src/lib/client.ts
  src/lib/memorize.ts
Due: lint, format

docs(agent): 에이전트 가이드 문서 구조화 및 세부 지침 추가
  .pi/agents/rules/branching-strategy.md
  .pi/agents/rules/test-guide.md
  AGENTS.md
  docs/agent-guides/coding-guidelines.md
  docs/agent-guides/coding/error-handling.md
  docs/agent-guides/coding/import-export.md
  docs/agent-guides/coding/naming-conventions.md
  docs/agent-guides/coding/react-patterns.md
  docs/agent-guides/coding/styling-patterns.md
  docs/agent-guides/coding/test-writing.md
  docs/agent-guides/coding/typescript-patterns.md
  docs/agent-guides/essential-commands.md
  docs/agent-guides/important-restrictions.md
  docs/agent-guides/quick-start.md
  docs/agent-guides/restrictions/delegation-guidelines.md
  docs/agent-guides/restrictions/prohibitions.md
  docs/agent-guides/technology-stack.md
Due: none

chore(deps): 패키지 의존성 업데이트 및 Knip 도구 도입
  .gitignore
  biome.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  src/components/command-menu.tsx
  src/features/chats/index.tsx
  src/lib/client.test.ts
  src/lib/client.ts
  src/lib/memorize.ts
  src/routes/_authenticated/errors/$error.tsx
  src/types/tanstack-table.d.ts
Due: lint, format

chore: 프로젝트 설정 및 개발 도구 구성 업데이트
  .gitignore
  AGENTS.md
  commitlint.config.ts
  lefthook.yml
  package.json
Due: lint, format

style: UI 컴포넌트 및 훅의 코드 스타일 및 포맷팅 수정
  src/components/ui/input-group.tsx
  src/hooks/use-mobile.ts
Due: lint, format

refactor(validation): Valibot에서 zod-mini로 유효성 검사 라이브러리 마이그레이션
  biome.json
  kubb.config.ts
  package.json
  pnpm-lock.yaml
  src/components/config-drawer.tsx
  src/components/ui/checkbox.tsx
  src/config/env.ts
  src/features/auth/forgot-password/components/forgot-password-form.tsx
  src/features/auth/otp/components/otp-form.tsx
  src/features/auth/sign-in/components/user-auth-form.tsx
  src/features/auth/sign-up/components/sign-up-form.tsx
  src/features/samples/pets/data/schema.ts
  src/features/settings/account/account-form.tsx
  src/features/settings/appearance/appearance-form.tsx
  src/features/settings/display/display-form.tsx
  src/features/settings/notifications/notifications-form.tsx
  src/features/settings/profile/profile-form.tsx
  src/features/tasks/components/data-table-row-actions.tsx
  src/features/tasks/components/tasks-import-dialog.tsx
  src/features/tasks/components/tasks-mutate-drawer.tsx
  src/features/tasks/data/schema.ts
  src/features/users/components/users-action-dialog.tsx
  src/features/users/components/users-invite-dialog.tsx
  src/features/users/data/schema.ts
  src/lib/zod-mini-resolver.ts
  src/main.tsx
  src/routes/(auth)/sign-in.tsx
  src/routes/_authenticated/apps/index.tsx
  src/routes/_authenticated/samples/pets/index.tsx
  src/routes/_authenticated/tasks/index.tsx
  src/routes/_authenticated/users/index.tsx
Due: lint, format

refactor(zod-mini-resolver): 선택적 체이닝 적용 및 린트 경고 해결
  src/lib/zod-mini-resolver.ts
Due: lint, format

chore(graphify): 코드베이스 지식 그래프 도구 도입 및 관련 설정 추가
  .gitignore
  .graphifyignore
  AGENTS.md
  README.md
  graphify-out/.graphify_labels.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/docs/GRAPH_REPORT.md
  graphify-out/docs/analysis.json
  graphify-out/docs/graph.html
  graphify-out/docs/graph.json
  graphify-out/docs/graphify_extract.json
  graphify-out/graph.focused.html
  graphify-out/graph.focused.json
  graphify-out/graph.html
  graphify-out/graph.json
  opencode.json
Due: format

refactor(api): Kubb 커스텀 클라이언트 적용 및 타입 정의 수정
  kubb.config.ts
  src/lib/client.ts
Due: lint, format

feat(layout): 사이드바 다단계 중첩 메뉴 지원 및 구조 개선
  src/components/layout/data/sidebar-data.ts
  src/components/layout/nav-group.tsx
  src/components/layout/types.d.ts
Due: lint, format

feat(samples): 대시보드 컴포넌트 및 샘플 페이지 추가
  src/routes/_authenticated/components/analytics-chart.tsx
  src/routes/_authenticated/components/analytics.tsx
  src/routes/_authenticated/components/overview.tsx
  src/routes/_authenticated/components/recent-sales.tsx
  src/routes/_authenticated/samples/apps/components/data/apps.tsx
  src/routes/_authenticated/samples/apps/index.tsx
  src/routes/_authenticated/samples/chats/components/data/chat-types.ts
  src/routes/_authenticated/samples/chats/components/data/convo.json
  src/routes/_authenticated/samples/chats/components/new-chat.tsx
  src/routes/_authenticated/samples/chats/index.tsx
  src/routes/_authenticated/samples/tasks/components/data/data.tsx
  src/routes/_authenticated/samples/tasks/components/data/schema.ts
  src/routes/_authenticated/samples/tasks/components/data/tasks.ts
  src/routes/_authenticated/samples/tasks/components/tasks-columns.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-data-table-bulk-actions.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-data-table-row-actions.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-dialogs.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-import-dialog.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-multi-delete-dialog.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-mutate-drawer.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-primary-buttons.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-provider.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-table.tsx
  src/routes/_authenticated/samples/tasks/index.tsx
  src/routes/_authenticated/samples/users/components/data/data.ts
  src/routes/_authenticated/samples/users/components/data/schema.ts
  src/routes/_authenticated/samples/users/components/data/users.ts
  src/routes/_authenticated/samples/users/components/users-action-dialog.tsx
  src/routes/_authenticated/samples/users/components/users-columns.tsx
  src/routes/_authenticated/samples/users/components/users-data-table-bulk-actions.tsx
  src/routes/_authenticated/samples/users/components/users-data-table-row-actions.tsx
  src/routes/_authenticated/samples/users/components/users-delete-dialog.tsx
  src/routes/_authenticated/samples/users/components/users-dialogs.tsx
  src/routes/_authenticated/samples/users/components/users-invite-dialog.tsx
  src/routes/_authenticated/samples/users/components/users-multi-delete-dialog.tsx
  src/routes/_authenticated/samples/users/components/users-primary-buttons.tsx
  src/routes/_authenticated/samples/users/components/users-provider.tsx
  src/routes/_authenticated/samples/users/components/users-table.tsx
  src/routes/_authenticated/samples/users/index.tsx
Due: lint, format

build: 빌드 스크립트 수정 및 지식 그래프 갱신
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  package.json
Due: format

refactor: 라우트 구조 재구성 및 테이블 상태 동기화 개선
  src/hooks/use-table-url-state.ts
  src/routeTree.gen.ts
Due: lint, format

chore: .opencode/opencode.json 설정 파일 삭제
  .opencode/opencode.json
Due: format

docs(workflow): 에이전트 워크플로우 가이드 추가 및 문서 구조 재구성
  .opencode/rules/workflow.md
  .opencode/skills/brainstorming/SKILL.md
  .opencode/skills/writing-plans/SKILL.md
  AGENTS.md
  docs/agent-guides/api-data-guide.md
  docs/agent-guides/hotspots-guide.md
  docs/agent-guides/planning-review-guide.md
  docs/agent-guides/project-guide.md
  docs/agent-guides/testing-guide.md
  docs/agent-guides/ui-routing-guide.md
  docs/agent-guides/workflow-guide.md
  docs/report/README.md
  docs/report/plans/README.md
  docs/report/specs/README.md
Due: none

feat(workflow): 계획 검토(plan-review) 및 TDD 절차 추가 및 필수화
  .opencode/rules/entrypoint.md
  .opencode/rules/workflow.md
  .opencode/skills/plan-review/SKILL.md
  .opencode/skills/subagent-driven-development/SKILL.md
  .opencode/skills/writing-plans/SKILL.md
  graphify-out/GRAPH_REPORT.md
Due: none

refactor(table): 테이블 URL 상태 관리 및 필터링 기능 개선
  package.json
  pnpm-lock.yaml
  src/components/data-table/faceted-filter.tsx
  src/hooks/use-table-url-state.ts
  src/routes/_authenticated/samples/pets/components/pets-table.tsx
  src/routes/_authenticated/samples/pets/index.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-table.tsx
  src/routes/_authenticated/samples/tasks/index.tsx
  src/routes/_authenticated/samples/users/components/users-table.tsx
Due: lint, format

chore(agent): 에이전트 스킬 고도화 및 규칙 문서 체계 정리
  .gitignore
  .opencode/context/architecture.md
  .opencode/context/design-principles.md
  .opencode/rules/api-integration.md
  .opencode/rules/data-flow.md
  .opencode/rules/documentation-map.md
  .opencode/rules/entrypoint.md
  .opencode/rules/routing.md
  .opencode/rules/testing.md
  .opencode/rules/ui.md
  .opencode/skills/brainstorming/SKILL.md
  .opencode/skills/executing-plans/SKILL.md
  .opencode/skills/finishing-a-development-branch/SKILL.md
  .opencode/skills/plan-review/SKILL.md
  .opencode/skills/requesting-code-review/SKILL.md
  .opencode/skills/subagent-driven-development/SKILL.md
  .opencode/skills/test-driven-development/SKILL.md
  .opencode/skills/using-git-worktrees/SKILL.md
  .opencode/skills/writing-plans/SKILL.md
  docs/agent-guides/hotspots-guide.md
  docs/agent-guides/testing-guide.md
  docs/agent-guides/workflow-guide.md
  src/components/command-menu.tsx
Due: lint, format

chore: AGENTS.md 포맷팅 및 graphify 생성 파일 삭제
  AGENTS.md
  graphify-out/.graphify_labels.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/docs/GRAPH_REPORT.md
  graphify-out/docs/analysis.json
  graphify-out/docs/graph.html
  graphify-out/docs/graph.json
  graphify-out/docs/graphify_extract.json
  graphify-out/graph.focused.html
  graphify-out/graph.focused.json
  graphify-out/graph.html
  graphify-out/graph.json
Due: format

chore(graphify): 프로젝트 구조 그래프 및 리포트 갱신
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: format

chore: graphify 출력 파일 추적을 위한 .gitignore 수정
  .gitignore
Due: none

feat(ui): QueryError 공통 컴포넌트 추가 및 샘플 페이지 적용
  src/components/query-error.tsx
  src/context/tanstack-query/root-provider.tsx
  src/routes/_authenticated/samples/pets/index.tsx
  src/routes/_authenticated/samples/tasks/index.tsx
  src/routes/_authenticated/samples/users/index.tsx
Due: lint, format

feat(pets): 반려동물 등록 및 수정 기능 추가
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  src/components/layout/data/sidebar-data.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/samples/pets/$id.edit.tsx
  src/routes/_authenticated/samples/pets/$id.tsx
  src/routes/_authenticated/samples/pets/components/pet-upsert-form.tsx
  src/routes/_authenticated/samples/pets/components/pets-table.tsx
  src/routes/_authenticated/samples/pets/new.tsx
  src/routes/_authenticated/samples/tasks/components/tasks-table.tsx
  src/routes/_authenticated/samples/users/components/users-table.tsx
Due: lint, format

chore: .opencode 설정 파일 삭제 및 프로젝트 가이드 업데이트
  .opencode/checklists/done-definition.md
  .opencode/checklists/quality-review.md
  .opencode/checklists/spec-review.md
  .opencode/plans/bugfix-template.md
  .opencode/plans/feature-template.md
  .opencode/plans/refactor-template.md
  .opencode/prompts/handoff-template.md
  .opencode/prompts/planner.md
  .opencode/rules/accessibility.md
  .opencode/rules/workflow.md
  .opencode/skills/brainstorming/SKILL.md
  .opencode/skills/executing-plans/SKILL.md
  .opencode/skills/finishing-a-development-branch/SKILL.md
  .opencode/skills/plan-review/SKILL.md
  .opencode/skills/requesting-code-review/SKILL.md
  .opencode/skills/requesting-code-review/code-reviewer.md
  .opencode/skills/subagent-driven-development/SKILL.md
  .opencode/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  .opencode/skills/subagent-driven-development/implementer-prompt.md
  .opencode/skills/subagent-driven-development/spec-reviewer-prompt.md
  .opencode/skills/test-driven-development/SKILL.md
  .opencode/skills/using-git-worktrees/SKILL.md
  .opencode/skills/writing-plans/SKILL.md
  docs/agent-guides/project-guide.md
  docs/agent-guides/ui-routing-guide.md
Due: none

build: 패키지 의존성 업데이트 및 차트 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/components/ui/chart.tsx
  src/routes/_authenticated/components/analytics-chart.tsx
  src/routes/_authenticated/components/overview.tsx
Due: lint, format

perf(ui): 데이터 테이블 검색 필터에 디바운스 적용
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  src/components/data-table/toolbar.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json}
